.inventory {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding : 20px;
    width : 100%;
}

.heading {
    width : 85%;
    text-align: center;
}

.profile {
    display: flex;
    align-items: center;
    width : 15%;
    gap : 16px;
}

.profile_pic {
    cursor: pointer;
}



.inventory h1 {
    width : 100%;
    text-align : center;
    margin : 20px 0;
}

.goods {
    width : 100%;
}

.btn_add {
    width : 25%;
}