.inventory {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding : 20px;
    width : 100%;
    
}

.header h1 {
    width : 90%;
}

.header button {
    width : 10%;
}



.inventory h1 {
    width : 100%;
    text-align : center;
    margin : 20px 0;
}

.goods {
    width : 100%;
}

.btn_add {
    width : 25%;
}